#signInPage .page__background {
	background-image: url('images/bg.jpg');
}

#regPage .page__background {
	background-image: url('images/bg.jpg');
}

#conPage .page__background {
	background-image: url('images/bg.jpg');
}

#addPage .page__background {
	background-image: url('images/bg.jpg');
}